.profile__avatar-edit-button {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/redactAvatar.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: 26px;
    right: 26px;
    margin: 0;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    padding: 0;
}